*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter;

background:linear-gradient(
180deg,
#ffffff,
#ffeaea,
#ffffff
);

color:#222;

}



/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:rgba(255,255,255,0.85);

backdrop-filter:blur(10px);

border-bottom:1px solid #eee;

}

.logo{

color:#c1121f;

font-size:22px;

font-weight:700;

}

.search{

padding:10px 16px;

border-radius:20px;

border:1px solid #ddd;

}



/* APPS */

.apps{

padding:60px 8%;

}



/* GRID */

.apps-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

gap:25px;

}



/* CARD */

.app-card{

background:white;

border-radius:18px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,0.08);

transition:0.3s;

}

.app-card:hover{

transform:translateY(-6px);

box-shadow:0 20px 40px rgba(0,0,0,0.15);

}



/* IMAGE */

.app-card img{

width:100%;

height:150px;

object-fit:cover;

}



/* TEXT */

.app-card h3{

padding:15px;

font-size:18px;

}

.app-card p{

padding:0 15px 15px;

font-size:14px;

color:#666;

}



/* FOOTER CARD */

.app-footer{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

}



/* BUTTON */

.download-btn{

background:linear-gradient(
135deg,
#9d0208,
#c1121f
);

color:white;

padding:7px 15px;

border-radius:15px;

text-decoration:none;

font-size:13px;

}

.rating{

font-size:14px;

}



/* MOBILE */

@media(max-width:600px){

.navbar{

flex-direction:column;

gap:10px;

}

.search{

width:100%;

}

}